:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
body{
  height:100vh;
  /* background-color:red; */
}
.cursor-pointer{
  cursor:pointer;
}
.hover-bg-dark:hover {
  background-color: #343a40;
  color: white;
}
.bg-smooth{
  background-color:lightgrey;
}
.h-screen{
  height:100%;
}

.login-bg {
  background-image: url('https://images.unsplash.com/photo-1512820790803-83ca734da794');
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(4px);
}